body {
    padding: 0px;
    margin: 0px;
}

.container {
    height: 1080px;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.container img {
    width: 20%;
    height: 540px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {

    div.container {
        height: 1028px;
    }

    div.container img {
        width: 25%;
        height: 257px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    div.container img:nth-last-child(-n+2) {
        width: 50%;
        height: 514px;
    }



}