  body{
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  caption {
    font-size: 42px;
    font-weight: bold;
  }

  th,
  td {
    border: 1px solid #dddddd;
    padding: 0px;
  }

  th {
    height: 30px;
    text-align: center;
    font-size: 18px;
  }

  td {
    text-align: left;
  }

  table td input {
    width: 100%;
    height: 30px;
    cursor: pointer;
  }

  tr td:nth-child(6) input{
    background: rgba(81, 255, 0, 0.5);
  }

  tr td:nth-child(6) input:hover{
    background: rgba(81, 255, 0, 1);
  }

  tr td:nth-child(7) input{
    background: rgba(255, 0, 0, 0.5);
  }

  tr td:nth-child(7) input:hover{
    background: rgba(255, 0, 0, 1);
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }